.main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 1.5rem;
  width: 500px;
}

label {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.create-meeting {
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.create-meeting:hover {
  opacity: 0.8;
}
